<header class="padding  row between border-bottom">
    <section class="">
        <span class="row">
            <label for="elections" class="label">Filter By Election:</label>
            <select name="elections" id="elections-select" class="input">
                <option value="1">Block A General Elections</option>
                <option value="2">Block B General Elections</option>
                <option value="3">Block C General Elections</option>
            </select>
        </span>
    </section>

    <span class="row tablist" id="elections-tabs">
        <a href="#" class="tabitem ">Parties</a>
        <a href="#" class="tabitem active">Candidates</a>
        <a href="#" class="tabitem">Voters</a>
    </span>
</header>