 <footer>
    <span
      >&copy; 2024 -
      <a href="https://github.com/timtjoe" target="_blank">Tim T. Joe</a></span
    >
  </footer>
  <script type="module" src="/js/index.js"></script>
</body>
</html>