<nav class="padding between">
    <span class="max">
        <a href="/" class="logo">Election App</a>
    </span>
    <section class="flex even">
        <a href="/">
            <em>&#x1F464;</em>
            <span>Timothy...</span>
        </a>
        <a href="/">
            <em>&#x2699;</em>
            <span>Settings</span>
        </a>
    </section>
</nav>