<nav>
    <a href="/dashboard">Home</a>
    <section>
        <a href="voter-registration">Voter Registration</a>
        <a href="party-registration">Party Registration</a>
        <a href="votes">Vote</a>
    </section>
</nav>