<section class="sidebar">
  <a href="/" class="tablink">
    <span class="heroicon heroicon-cart></span>
    <span class="tabtext">Dashboard</span>
  </a>
  <a href="/voters" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Voters</span>
  </a>
  <a href="/parties" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Parties</span>
  </a>
  <a href="/elections" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Elections</span>
  </a>
  <a href="/users" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Users</span>
  </a>
  <!-- <a href="/contestants" class="tab">Contestants</a> -->
  <!-- <a href="/positions" class="tab">positions</a> -->
</section>
