<section class="sidebar">
  <a href="#">
    <em>&#x1F4C8;</em> <!-- Dashboard Icon -->
    <span>Dashboard</span>
  </a>
  <a href="#">
    <em>&#x1F465;</em> <!-- Voters Icon -->
    <span>Voters</span>
  </a>
  <a href="#">
    <em>&#x1F4C5;</em> <!-- Elections Icon -->
    <span>Elections</span>
  </a>
  <a href="#">
    <em>&#x1F464;</em> <!-- Candidates Icon -->
    <span>Candidates</span>
  </a>
  <a href="#">
    <em>&#x1F4BB;</em> <!-- Users Icon -->
    <span>Users</span>
  </a>
  <a href="#">
    <em>&#x2714;</em> <!-- Votes Icon -->
    <span>Votes</span>
  </a>

  <!-- <a href="/" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Dashboard</span>
  </a>
  <a href="/voters" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Voters</span>
  </a>
  <a href="/parties" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Parties</span>
  </a>
  <a href="/elections" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Elections</span>
  </a>
  <a href="/users" class="tablink">
    <i class="tabicon">&RightArrow;</i>
    <span class="tabtext">Users</span>
  </a> -->
  <!-- <a href="/contestants" class="tab">Contestants</a> -->
  <!-- <a href="/positions" class="tab">positions</a> -->
</section>
