<section class="sidebar">
  <a href="/" class="tablink button">
    <em class="tabicon">&#x1F4C8;</em>
    <span class="tabtext">Dashboard</span>
  </a>
  <a href="/voters" class="tablink">
    <em class="tabicon">&#x1F465;</em>
    <span class="tabtext">Voters</span>
  </a>
  <a href="/elections" class="tablink">
    <em class="tabicon">&#x1F4C5;</em>
    <span class="tabtext">Elections</span>
  </a>
  <a href="/parties" class="tablink">
    <em class="tabicon">&#127758;</em>
    <span class="tabtext">Parties</span>
  </a>
  <a href="/candidates" class="tablink">
    <em class="tabicon">&#x1F464;</em>
    <span class="tabtext">Candidates</span>
  </a>
  <a href="/votes" class="tablink">
    <em class="tabicon">&#x2714;</em>
    <span class="tabtext">Votes</span>
  </a>
  <a href="/users" class="tablink">
    <em class="tabicon">&#x1F465;</em>
    <span>Users</span>
  </a>
</section>