<section class="sidebar">
    <a href="/" class="tab">Dashboard</a>
    <a href="/voters" class="tab">Voters</a>
    <a href="/parties" class="tab">Parties</a>
    <a href="/positions" class="tab">positions</a>
    <a href="/contestants" class="tab">Contestants</a>
    <a href="/elections" class="tab">Elections</a>
    <a href="/users" class="tab">Users</a>
</section>