.center {
    display: grid;
    place-items: center;
}

.smblock {
    width: 363px;
    min-height: 60px;
}

.container {
    min-height: 80vh;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    width: calc(100% - 0px);
    background-color: var(--white);
}

.divider {
    border: 1px solid var(--ink);
    display: block;
    padding: 0;
    margin: 0;
}

.divider.half {
    max-width: 30%;
}

.border {
    border: 1px solid var(--ink);
}

.border-bottom {
    border-bottom: 1px solid var(--ash);
}

.border-right {
    border-right: 1px solid var(--ash);
}

.border-left {
    border-left: 1px solid var(--ash);
}

.border-top {
    border-top: 1px solid var(--ash);
}


.padding {
    padding: 8px;
}

.padding-top {
    padding-top: var(--spacing-md);
}

.padding-bottom {
    padding-bottom: var(--spacing-md);
}

.padding-right {
    padding-right: var(--spacing-md);
}

.padding-left {
    padding-left: var(--spacing-md);
}

.padding-right {
    padding-right: var(--spacing-md);
}

/* .padding,
.padding-top,
.padding-right,
.padding-bottom {
    display: inline-block;
} */

.no-margin {
    margin: unset;
}

.margin-top {
    margin-top: var(--spacing-sm);
}

.margin-bottom {
    margin-bottom: var(--spacing-sm);
}

.margin-right {
    margin-right: var(--spacing-sm);
}

.margin-left {
    margin-left: var(--spacing-sm);
}

.margin {
    margin: var(--spacing-sm);
}

.badge-group,
.figure-group {
    display: flex;
    align-items: center;
}

.badge-group>*+* {
    margin: -10px;
}

.badge,
.figure img {
    border: 4px solid var(--white);
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.figure-group {
    justify-content: space-between;
}

.figure {
    margin: 0;
    padding: 0;
    padding: 8px;
    border-radius: 2px;
}

.figure img {
    border: unset;
}

.figure figcaption {
    font-size: var(--font-sm);
    padding-top: 8px;
    text-align: center;
    text-transform: capitalize;
}

.media-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
}

.media img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.toaster {
    position: absolute;
    top: 1px;
    min-width: 60%;
    max-width: 60%;
    background-color: var(--charcoal);
    z-index: 3000;
    box-shadow: var(--shadow-sm);
    border-radius: 8px;
    text-align: center;
    padding: var(--spacing-xxs);
    gap: var(--spacing-md);
    transition: visibility 3s ease-in;
}

.toaster .text {
    color: var(--white);
    font-weight: 600;
}

.toaster.hide {
    visibility: hidden;
    opacity: 0;
}

.toaster.show {
    visibility: visible;
    opacity: 1;
}