nav {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

nav > * {
    padding: var(--spacing-xs);
}

nav.vertical {
    flex-direction: column;
}

nav.menu {
    flex-direction: column;
    gap: unset;
}

nav.menu>*, nav.vertical > *  {
    width: 100%;
    display: flex;
    gap: var(--spacing-sm);
    padding: var(--spacing-xs);
}

nav.menu>*:hover {
    background-color: var(--gray-light);
}