<%- include("./partial/head") %>
<body class="column">
    <%- include("./partial/navigation") %>
    <main class="max row align-top">
        <%- include("./partial/sidebar") %>
        <div class="max">max</div>
    </main>
    <%- include("./partial/footer") %>
</body>
</html>