<%- include("./partials/head") %>
    <%- include("./partials/navigation") %>
        <div class="layout">
            <%- include("./partials/sidebar") %>
                <div class="content padding">
                    <div class="grid">
                        <section class="border padding">
                            <h1 class="large no-margin">Registered Voters</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">1234567890</h1>
                            <small class="muted">Total Number of Registered Voters on the Platform</small>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Parties</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">1234567890</h1>
                            <small class="muted">Total Number of Parties on the Platform</small>
                        </section>
                        <section class="border padding">
                            <h1 class="large no-margin">Candidates</h1>
                            <hr class="divider half margin-top">
                            <h1 class="huge no-margin">1234567890</h1>
                            <small class="muted">Total Number of Candidates on the Platform</small>
                        </section>
                    </div>
                    <hr class="divider margin-top margin-bottom">
                </div>
        </div>