<%- include("./partials/head") %>
<%- include("./partials/nav") %>
<div class="dash">
    <%- include("./partials/sidebar") %>
    <main class="main">main content</main>
</div>
<%- include("./partials/foot") %>
