<%- include("./partials/head") %> <%- include("./partials/nav") %>
    <h1>Buttons</h1>
    <button>Default</button>
    <button class="primary">Primary</button>
    <button class="secondary">Secondary</button>
    <button class="ternary">Ternary</button>
    <button disabled>Disabled</button>
    <button class="iconbutton">
      <i>&#x270D;</i>
    </button>
    <button class="chip">
      <em>&#x1F50D;</em>
      <span class="tabtext">Chip</span>
    </button>

    <h1>Inputs</h1>
    <textarea name="textarea" id="textarea"></textarea>

    <fieldset class="field">
      <legend>Field Set</legend>
      <input type="text" placeholder="Input" />
    </fieldset>

    <fieldset class="field">
      <legend>Date</legend>
      <input type="date" placeholder="Input" />
    </fieldset>

    <fieldset class="field row">
      <legend>Input Group</legend>
      <input type="date" placeholder="Input" />
      <input type="text" placeholder="Input" />
      <input type="text" placeholder="Input" />
    </fieldset>

    <fieldset class="field">
      <legend>Selection</legend>
      <select name="select" id="name">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </fieldset>
    <fieldset class="field row">
      <legend>Selection Group</legend>
      <select name="select" id="name">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select name="select" id="name">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select name="select" id="name">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </fieldset>

    <h1>Navigation and Menu</h1>
    <nav class="vertical"><a href="on">Veritical</a><a href="one">One</a><a href="one">One</a></nav>
    <nav><a href="on">on</a><a href="one">Row</a><a href="one">One</a></nav>
    <nav class="menu">
      <a href="on">
        <em>&#x1F50D;</em>
        <span class="tabtext">Menu</span>
      </a>
      <a href="on">
        <em>&#x1F50D;</em>
        <span class="tabtext">Menu</span>
      </a>
      <a href="on">
        <em>&#x1F50D;</em>
        <span class="tabtext">Menu</span>
      </a>
    </nav>

    <h1>Cards and Media Block</h1>

    <div class="card">
      <img src="/images/sample.png" alt="" class="img">
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, modi debitis, repudiandae...</p>
      <small class="footer">Tim T. Joe &middot;  Aug 5, 2024</small>
    </div>
    <div class="media shadow round">
      <img class="img" src="/images/sample.png" alt="" srcset="">
      <section class="block">
        <h2 class="title">Lorem ipsum dolor, sit amet const</h2>
        <small class="footer">Footer &middot; Footer</small>
      </section>
    </div>

