<%- include("./partials/head") %>
<%- include("./partials/nav") %>
<div class="dash">
    <%- include("./partials/sidebar") %>
    <main class="main grid">
        <article class="card">
            <header>Number of Registrant</header>
            <span>10</span>
        </article>
        <article class="card">
            <header>Number of Registrant</header>
            <span>10</span>
        </article>
        <article class="card">
            <header>Number of Registrant</header>
            <span>10</span>
        </article>
        <article class="card">
            <header>Number of Registrant</header>
            <span>10</span>
        </article>
        <article class="card">
            <header>Number of Registrant</header>
            <span>10</span>
        </article>
    </main>
</div>
<%- include("./partials/foot") %>
