<%- include("./partials/head") %> <%- include("./partials/nav") %>
    <h1>Buttons</h1>
    <button>Default</button>
    <button class="primary">Primary</button>
    <button class="secondary">Secondary</button>
    <button class="ternary">Ternary</button>
    <button disabled>Disabled</button>
    <button class="iconbutton">
      <i>&#x270D;</i>
    </button>
    <button class="chip">
      <em>&#x1F50D;</em>
      <span class="tabtext">Chip</span>
    </button>

    <h1>Inputs</h1>
    <input type="text" placeholder="Input"/>