<%- include("./partials/head") %>
    <nav class="navigation border-bottom">
        <a href="/" class="navlogo">Election App</a>
        <div class="row">
            <a href="/elections/create" class="navbtn">&plus; Election</a>
            <span class="navicon">
                <img src="/icons/bell.svg" alt="">
            </span>
            <span class="avatar">
                <img src="/images/sample.png">
            </span>
        </div>
    </nav>