<%- include("./partials/head") %>
    <%- include("./partials/navigation") %>
        <div class="layout">
            <%- include("./partials/sidebar") %>
                <div class="content ">
                    <header class="container-medium center-align">
                        <h1 class="huge no-margin" id="election-name">Block A General Elections</h1>
                        <small class="margin-bottom">4day 10hrs 33mins 12sec to go</small>
                        <span class="large muted no-margin">Aug 25, 2024 &middot; 10 Candidates &middot; 1234
                            Voters</span>
                    </header>
                    <nav class="row margin-top border-bottom" id="tabs">
                        <button class="tab active">Candidates</button>
                        <button class="tab">Voters</button>
                        <button class="tab">Parties</button>
                        <button class="mini crimson move-right margin-right ">Vote Now</button>
                    </nav>
                    <div class="grid padding">
                        <a href="/candidates/1234567" class="row border padding black hover-elevate">
                            <img src="/images/sample.png" alt="" class="round small">
                            <span class="max margin-left">
                                <h6 class="large no-margin">John D. Doe </h6>
                                <p class="small ">Candidate</p>
                                <small class="smaller muted"> Party Name &middot; Position</small>
                            </span>
                        </a>
                        <a href="/users/2" class="row border padding black hover-elevate">
                            <img src="/images/sample.png" alt="" class="round small">
                            <span class="max margin-left">
                                <h6 class="large no-margin">John D. Doe </h6>
                                <p class="small ">Voter</p>
                                <small class="smaller muted"> 25 years old &middot; No Affiliation</small>
                            </span>
                        </a>
                        <a href="/parties/12345678" class="border row padding black hover-elevate tiny-radius">
                            <img class="small" src="/images/up.png" alt="" />
                            <span class="column margin-left">
                                <h3 class="large no-margin"> Unity Party</h3>
                                <small class="muted"> 0 Candidates &middot; 0 Elections Won </small>
                            </span>
                        </a>
                    
                    </div

                </div>