<%- include("./partials/head") %>
  <%- include("./partials/navigation") %>
    <div class="layout">
      <%- include("./partials/sidebar") %>
        <div class="content">
          <%- include("./partials/page-title") %>
            <header class="padding  row between border-bottom">
              <section class="row between max padding-right">
                <span class="row">
                  <label for="elections" class="label">Filter By Election:</label>
                  <select name="elections" id="elections-select" class="input">
                    <option value="1">Block A General Elections</option>
                    <option value="2">14 Street Chairmanship Election</option>
                    <option value="3">2029 General and Presidential Elections</option>
                  </select>
                </span>
              </section>
              <a href="elections/1234/settings" class="row padding-right" title="Election Settings">
                <img src="icons/settings.svg" alt="">
              </a>

            </header>
            <div class="center-align">
              <h1 class="huge no-margin" id="election-name">Block A General Elections</h1>
              <small class="margin-bottom">4day 10hrs 33mins 12sec to go</small>
              <span class="large muted no-margin">Aug 25, 2024 &middot; 10 Candidates &middot; 1234 Voters</span>
              <nav class="row margin-top" id="tabs">
                <button class="tab active">Parties</button>
                <button class="tab">Voters</button>
                <button class="tab">Candidates</button>
              </nav>
            </div>
            <div class="grid padding">
              <section class="row border padding">
                <img src="/images/sample.png" alt="" class="round small">
                <span class="max margin-left">
                  <h3 class="large no-margin">The Part Name Here</h3>
                  <small class="row around">10 Candidates &middot; 0 Election won</small>
                </span>
              </section>
            </div>
        </div>
    </div>
    <script type="module" src="/js/elections.js"></script>