<%- include("./partial/head") %>
<body class="column">
   <main class="center max center-align">
       <h1 class="huge">Welcome!</h1>
       <h1 class="large">Free Elections Management App</h1>
       <p class="box box-large">
        You can get started by creating new account if you haven't already or log in to your existing account, and create an elections for registered voters to cast their ballots, monitory live satistical data, see votes obtained by candidates and do more.
    </p>
       <section class="row">
        <a href="/login" class="button">Log in</a>
        <a href="/voters/registration" class="button outlined">Create New Account</a>
       </section>
   </main>
   <footer class="row between padding border-top">
    <span>&copy; 2024</span>
    <span>a Tim T. Joe production</span>
    <a href="https//github.com/timtjoe" target="_blank">Github</a>
   </footer>
</body>
</html>