<%- include("./partials/head") %>
  <nav class="navigation">
    <a href="" class="larger">Election App</a>
    <span class=""></span>
  </nav>
  <main class="container center">
    <div class="smblock">
      <h2 class="larger center-align">Log in</h2>
      <form action="" method="post">

          <label class="label" for="username">Username </label>
          <input type="username" name="username" id="username" class="input" />

          <label class="label" for="password">Password</label>
          <input type="password" name="password" id="password" class="input"  />

        <a href="/reset-password" class="link">Forget Password?</a>

        <button type="submit" class="button">Log In</button>
      </form>
    </div>
  </main>
  <footer class="footer">&copy; 2024</footer>