<%- include("./partial/head") %>

    <body>
        <form action="/login" method="post">
            <h1>Log in</h1>
            <label class="label" for="username">Username</label>
            <input class="input" type="text" name="username" id="username">
            <label for="logo">Password</label>
            <input type="password" name="password" id="password">
            <select name="" id="" class="select">
                <option value="">Option here</option>
                <option value="">Option here</option>
                <option value="">Option here</option>
            </select>
            <button type="submit">Login Now</button>
        </form>
        <script type="module" src="/js/index.js"></script>
    </body>

    </html>