<%- include("./partials/head") %>
  <nav class="navigation border-bottom">
    <a href="/" class="larger logo">Election App</a>
    <a href="/voters/registration" class="minibtn">Register</a>
  </nav>
  <main class="container center">
    <div class="smblock">
      <h2 class="larger center-align">Log in</h2>
      <form action="" method="post">

        <label class="label" for="username">Fill in Form </label>
        <input type="username" name="username" id="username" class="input margin-bottom" placeholder="Type Username" />
        <div class="space"></div>
        <!-- <label class="label" for="password">Password</label> -->
        <input type="password" name="password" id="password" class="input" placeholder="Type Password" />

        <a href="/reset-password" class="link">Forget Password?</a>

        <button type="submit" class="button">Log In</button>
      </form>
    </div>
  </main>
<%- include("./partials/foot") %>