<%- include("./partial/head") %>

    <body>
        <form action="/login" method="post">
            <h1>Log in</h1>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="logo">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login Now</button>
        </form>
    </body>

    </html>