<%- include("./partials/head") %>
  <div class="fullbleed column">
    <%- include("./partials/nav") %>
      <main class="max center">
        <form action="/parties/registration" method="post" class="card wide" enctype="multipart/form-data">
          <header >
            <h1 class="larger ">Register Political Party</h1>
          </header>
          <hr class="divider margin-top margin-bottom">
          <fieldset class="field">
            <legend>Party Name</legend>
            <input type="text" id="party" name="party" placeholder="Enter name" required />
          </fieldset>
          <fieldset class="field">
            <legend>Party Logo</legend>
            <input type="file" id="logo" name="logo" required />
          </fieldset>
          <button type="submit" class="primary full">Register Party</button>
        </form>
      </main>
      <%- include("./partials/foot") %>

  </div>