<%- include("./partials/head") %>
  <nav class="navigation border-bottom">
    <a href="/" class="larger logo">Election App</a>
  </nav>
  <main class="container center">
    <div class="smblock">
      <h2 class="larger center-align">Party Registration</h2>
      <form action="" method="post">

        <label class="label" for="party">Fill in Form </label>
        <input type="text" name="party" id="party" class="input margin-bottom" placeholder="Party Name" required />
        <div class="space"></div>

        <label class="label" for="logo">Party Logo</label>
        <input type="file" name="logo" id="logo" class="input" required />


        <button type="submit" class="button">Register Party</button>
      </form>
    </div>
  </main>
<%- include("./partials/foot") %>