<%- include("./partial/head") %>

<body>

    <form action="votes" method="post">
        <h2>Cast Your Vote</h2>
      
        <br>
        <input type="hidden" name="voter" value="<%= data.voter.id %>">
        <button type="submit">Cast Vote</button>
        <br>
    </form>
    <br>
</body>

</html>