<%- include("./partials/head") %> <%- include("./partials/nav") %>
<div class="dash">
  <%- include("./partials/sidebar") %>
  <main class="main">
    <nav class="toolbar row">
      <section class="max">
        <a href="voters/registration" class="button"> + Voter Registration</a>
      </section>
      <section>Actions</section>
    </nav>
    <div class="tablist">
        
      <section class="tabitem">
        <span class="tabicon">
          <img src="/images/sample.png" alt="icon" class="tabimg" />
        </span>
        <span class="tabcontent max">
          <strong>Timothy T. Joe</strong>
          <small>25 years old &middot; Male</small>
        </span>
      </section>

      <section class="tabitem">
        <span class="tabicon">
          <img src="/images/sample.png" alt="icon" class="tabimg" />
        </span>
        <span class="tabcontent max">
          <strong>Timothy T. Joe</strong>
          <small>25 years old &middot; Male</small>
        </span>
      </section>
    </div>
  </main>
</div>
<%- include("./partials/foot") %>
