button {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-md);
    font-size: var(--font-md);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--blue);
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow-sm);
    transition: background-color 0.3s ease;
    border-radius: var(--radius-lg);
    text-transform: capitalize;
}

button.primary {
    background-color: var(--blue);
    color: var(--white);
}

button.secondary {
    background-color: var(--purple);
    color: var(--white);
}

button.ternary {
    background-color: var(--green);
    color: var(--white);
}

button:hover {
    box-shadow: var(--box-shadow-md);
}

button:disabled {
    background-color: var(--gray-light);
    color: var(--text-muted);
    cursor: not-allowed;
    box-shadow: unset;
}

button:disabled:hover {
    box-shadow: unset;
}