/* NAVIGATION +==================================================== */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    width: calc(100% - 0px);
    background-color: var(--white);
}

.navicon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms ease-in-out;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 12px;
}


.avatar {
    margin-left: 12px;
    display: flex;
    overflow: hidden;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: center center / cover no-repeat;
    border-radius: 50%;
    cursor: pointer;
}

.navlogo,
.logo {
    color: var(--midnight);
    font-size: 1.5rem;
    margin: 0.83em 0px;
    font-weight: bold;
}

.navlogo:hover,
.logo:hover {
    color: var(--crimson);
}

.tablist,
.tabrow {
    padding: 4px;
    background-color: var(--noir);
    border-radius: var(--radius-sm);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--spacing-xs);
}

.tabitem {
    color: var(--midnight);
    border-radius: var(--radius-sm);
    padding: var(--spacing-sm) var(--spacing-md);
}

.tabitem.active {
    background-color: var(--white);
    box-shadow: var(--shadow-sm);
}

/* NAVIGATION ENDS +=================================================== */

/* FORM STARTS +======================================================== */
.label {
    display: flex;
    font-weight: 600;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-top: var(--spacing-sm);
    cursor: pointer;
}

.input {
    border-radius: 2px;
    width: 100%;
    background-color: var(--noir);
    color: var(--midnight);
    line-height: 100%;
    outline: none;
    font: 16px;
    caret-color: var(--crimson);
    width: 100%;
    padding: 12px;
    border: 1px solid var(--ink);
}

.button {
    border-radius: 4px;
    border: none;
    min-width: 120px;
    min-height: 46px;
    line-height: 22px;
    font-weight: 700;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 21px;
    color: var(--white);
    background-color: var(--crimson);
}

input[type="date"].input {
    text-transform: uppercase;
}

select.input {
    text-transform: capitalize;
}

.flexfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-sm);
}

.flexfield>* {
    flex: 2;
}

button.outlined,
.button.outlined {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgb(254, 44, 85);
    border-color: rgb(254, 44, 85);
    background-color: rgb(255, 255, 255);
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    /* -webkit-box-align: center; */
    /* -webkit-box-pack: center; */
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.minibtn,
.mini {
    min-width: 110px;
    padding: 0px 16px;
    height: 36px;
    border: 1px solid var(--smoke);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    color: var(--midnight);
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
}

button.crimson {
    color: var(--white);
    background-color: var(--crimson);
}

.hide {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

button.tab {
    background-color: unset;
    color: var(--shadow);
    padding: var(--spacing-xs) var(--spacing-md);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-right: 2px;
}

button.tab.active{
    border-color: var(--fog);
}

/* FORM ENDS +======================================================== */

/* TOASTER +============================================================ */
.toaster {
    position: absolute;
    top: 1px;
    min-width: 60%;
    max-width: 60%;
    background-color: var(--charcoal);
    z-index: 3000;
    box-shadow: var(--shadow-sm);
    border-radius: 8px;
    text-align: center;
    padding: var(--spacing-xxs);
    gap: var(--spacing-md);
    transition: visibility 3s ease-in;
}

.toaster .text {
    color: var(--white);
    font-weight: 600;
}

.toaster.hide {
    visibility: hidden;
    opacity: 0;
}

.toaster.show {
    visibility: visible;
    opacity: 1;
}

/* TOASTER ENDS+============================================================ */

/* CARD AND MEDIA BLOCK +==================================================== */
.badge-group,
.figure-group {
    display: flex;
    align-items: center;
}

.badge-group>*+* {
    margin: -10px;
}

.badge,
.figure img {
    border: 4px solid var(--white);
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.figure-group {
    justify-content: space-between;
}

.figure {
    margin: 0;
    padding: 0;
    padding: 8px;
    border-radius: 2px;
}

.figure img {
    border: unset;
}

.figure figcaption {
    font-size: var(--font-sm);
    padding-top: 8px;
    text-align: center;
    text-transform: capitalize;
}

.media-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
}

.media img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

/* CARD AND MEDIA BLOCK END +==================================================== */

/* BOX AND CONTAINER START +==================================================== */

.box.small,
.smblock {

    width: 363px;
    min-height: 60px;
}

.container,
.container.tall {
    margin: 0 auto;
    min-height: 80vh;
}

.container.max {
    max-width: 1420px;
    max-height: 80vh;
}

.container.full {
    min-width: calc(100% - 0);
    min-height: calc(100% - 0);
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    width: calc(100% - 0px);
    background-color: var(--white);
}


/* BOX AND CONTAINER END +==================================================== */

/* DIVIDER STARTS +==================================================== */
.divider {
    border: 1px solid var(--ink);
    display: block;
    padding: 0;
    margin: 0;
}

.divider.half {
    max-width: 30%;
}

/* DIVIDER END +==================================================== */


/* IMAGE STARTS +===================================================== */
img.small {
    width: calc(48px * 2);
    height: calc(48px * 2);
}

img.fullwidth {
    width: 100%;
    height: 100%;
}


/* IMAGE ENDS +===================================================== */