.label {
    display: flex;
    font-weight: 600;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-top: var(--spacing-sm);
    cursor: pointer;
}

.input {
    border-radius: 2px;
    width: 100%;
    background-color: var(--noir);
    color: var(--midnight);
    line-height: 100%;
    outline: none;
    font: 16px;
    caret-color: var(--crimson);
    width: 100%;
    padding: 12px;
    border: 1px solid var(--ink);
}

.button {
    border-radius: 4px;
    border: none;
    color: var(--white);
    min-width: 120px;
    min-height: 46px;
    line-height: 22px;
    font-weight: 700;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 21px;
    background-color: var(--crimson);
}

input[type="date"].input {
    text-transform: uppercase;
}

select.input {
    text-transform: capitalize;
}

.flexfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-sm);
}

.flexfield>* {
    flex: 2;
}

button.outlined,
.button.outlined {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgb(254, 44, 85);
    border-color: rgb(254, 44, 85);
    background-color: rgb(255, 255, 255);
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    /* -webkit-box-align: center; */
    /* -webkit-box-pack: center; */
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.minibtn {
    min-width: 110px;
    padding: 0px 16px;
    height: 36px;
    border: 1px solid var(--smoke);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    color: var(--midnight);
    border-radius: 2px;
    font-weight: 600;
}

.hide {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}