:root {
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
}

* {
  font: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: inherit;
}

/* header navigation */

header.nav {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

header.nav a {
  text-decoration: none;
}

/* welcome page styles*/

.welcome {
  width: 468px;
  margin: 0 auto;
}

.welcome a {
  padding: 12px;
}

.welcome a:hover {
  background-color: rgb(204, 218, 223);
}

/* welcome page ends */

/* dashboard styles */

.dash {
  height: 80vh;
  display: flex;
}

.dash .sidebar {
  width: 278px;
  padding: 8px;
}

.sidebar a {
  display: block;
  padding: 8px;
  text-decoration: none;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
  border-left: solid transparent;
  color: black;
}

.sidebar a:hover {
  background-color: whitesmoke;
  border-color: #00172c;
}

.sidebar a:focus {
  transform: scale(0.98);
}

.dash .main {
  flex: 2;
  background-color: #38383818;
  padding: 8px;
  height: 500px;
  overflow-x: auto;
}

.dash .main.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  grid-auto-rows: 270px;
}

.main .card {
  background-color: white;
  border: thin solid lightgrey;
}

.main .card header {
  padding: 8px;
  font-weight: bolder;
  border-bottom: thin solid lightgrey;
}

.main .card footer {
  padding: 8px;
  font-size: small;
  border-top: thin solid lightgrey;
  color: #535353;
}

.main .card section {
  padding: 0 8px;
}

.center {
  text-align: center;
}

.larger {
  line-height: 1;
  padding: 0;
  font-size: 4rem;
}

/* dashboard styles end. */

.toolbar {
  padding: 4px;
}

.row {
  display: flex;
}

.max {
  flex: 2;
}

.button {
  display: inline-block;
  color: white;
  padding: 10px;
  text-decoration: none;
  background-color: #1873fc;
}

.button:hover {
  background-color: #0761e7;
}
.button:focus {
  transform: scale(0.98);
}

.tablist {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tablist .tabitem {
  padding: 6px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tablist .tabicon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.tabicon .tabimg {
  width: 100%;
  height: 100%;
}

.tablist .tabcontent {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* forms */

form {
  width: 500px;
}

fieldset {
  border: thin solid lightgrey;
  border-radius: 0;
  padding-top: 24px;
}

fieldset legend {
  font-weight: bolder;
}

fieldset label {
  display: inline-block;
  padding: 4px;
  min-width: 150px;
  cursor: pointer;
  text-align: left;
}

fieldset input,
fieldset select {
  display: inline-block;
  width: 314px;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 0;
  outline: none;
  border: thin solid lightgrey;
  text-align: left;
  font: inherit;
}

fieldset select {
  text-transform: capitalize;
}

fieldset input[type="date"] {
  text-transform: uppercase;
}

fieldset input:focus,
fieldset select:focus {
  outline: none;
}

fieldset input:focus {
  border-color: black;
}

fieldset button {
  border: none;
  float: right;
  width: 314px;
}

/* forms ends*/

/* GENERIC PAGES */

.error {
  display: block;
  font-size: smaller;
  font-family: monospace;
  color: red;
  width: 314px;
  float: right;
  margin-bottom: 4px;
}
/* GENERIC PAGES END*/

/* FLEX COLUMN */

.flexbody {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.flexbody > header,
.flexbody > footer {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}

.flexbody > footer {
  background-color: rgba(211, 211, 211, 0.692);
}

.flexbody > main {
  flex: 2;
}

.flexbody .centerized {
  display: grid;
  place-items: center;
}

/* FLEX COLUMN */

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexcolumn > header,
.flexcolumn > footer {
  display: flex;
  justify-content: space-between;
}

.flexcolumn main {
  flex: 2;
}

small {
  font-size: smaller;
}
