:root {
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
}

* {
  font: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0659f1;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: inherit;
}

/* header navigation */

header.nav {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

header.nav a {
  text-decoration: none;
}

/* welcome page styles*/

.welcome {
  width: 468px;
  margin: 0 auto;
}

.welcome a {
  padding: 12px;
}

.welcome a:hover {
  background-color: rgb(204, 218, 223);
}

/* welcome page ends */

/* dashboard styles */

.container {
  height: 80vh;
}

/* MAIN CONTAINER */

.main {
  background-color: #38383818;
  height: 510px;
  overflow-x: auto;
  border-bottom: thin solid #3838380e;
}

.main>.header {
  background-color: #3838380c;
  padding: 8px;
}

.main>.body {
  /* border: solid rgba(17, 17, 17, 0.014); */
}

.dash {
  height: 80vh;
  display: flex;
}

.sidebar {
  width: 278px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.sidebar a {
  display: block;
  padding: 8px;
  text-decoration: none;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
  border-left: solid transparent;
  color: black;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: whitesmoke;
  border-color: #00172c;
}

.sidebar a:focus {
  transform: scale(0.98);
}

.sidebar .tablink {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tablink .tabicon,
.iconbutton .icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}

/* TODO: TO BE REMOVE BECAUSE OF CONTAINER CLASS */
.dash .main {
  flex: 2;
  background-color: #38383818;
  padding: 8px;
  height: 500px;
  overflow-x: auto;
}

.dash .main.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  grid-auto-rows: 270px;
}

.main .card {
  background-color: white;
  border: thin solid lightgrey;
}

.main .card header {
  padding: 8px;
  font-weight: bolder;
  border-bottom: thin solid lightgrey;
}

.main .card footer {
  padding: 8px;
  font-size: small;
  border-top: thin solid lightgrey;
  color: #535353;
}

.main .card section {
  padding: 0 8px;
}

.center {
  text-align: center;
}

.larger {
  line-height: 1;
  padding: 0;
  font-size: 4rem;
}

/* TODO ENDS HERE */

/* dashboard styles end. */

/* TODO TO BE REMOVED BECAUSE OF MAIN > HEADER CLASS */
.toolbar {
  padding: 4px;
  background-color: #e4e4e446;
}

/* CSS FLEX AND GRID CLASSES */

.row {
  display: flex;
}

.row.align {
  justify-content: center;
  align-items: center;
}

.max {
  flex: 2;
}

/* FLEX AND GRID CLASSES ENDS */

/* NORMAL BUTTONS, ROUND BUTTON ICONS BUTTON STYLES */

.button,
.iconbutton {
  display: inline-block;
  color: white;
  padding: 10px;
  text-decoration: none;
  background-color: #00bb4ee5;
  font-weight: bolder;
  text-transform: capitalize;
}

.button:hover,
.iconbutton {
  background-color: #00a846e8;
}

.button:focus,
.iconbutton:focus {
  transform: scale(0.98);
}

.iconbutton {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* BUTTONS ENDS */

/* MEDIA CARD, TABULAR CARD, DATA CARD,  ARTICLE CARD STYLES HERE */

.media {
  display: flex;
  align-items: initial;
  background-color: white;
  border: thin solid #f1f1f1;
  padding: 4px;
}

.media.article {
  max-width: 250px;
  flex-direction: column;
}

.media .figure {
  width: 92px;
}

.media.article .figure {
  min-width: 100%;
}

.media .block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  flex: 2;
}

.media.article .block {
  text-align: center;
}

.media .block .title {
  display: block;
  font-size: larger;
}

.media .block .footer {
  margin-top: 8px;
  color: #535353;
}

.media.data {
  height: 230px;
  width: 230px;
  display: flex;
  flex-direction: column;
  border: thin solid #53535381;
}

.media.data>.header {
  border-bottom: thin solid #53535381;
}

.media.data>.header,
.media.data>.footer,
.media.data>.body {
  padding: 8px;
}

.media.data>.body {
  flex: 2;
}

.media.data>.footer {
  font-size: small;
}

.media.data>.footer {
  border-top: thin solid #53535381;
}

/* MEDIA CARD, TABULAR CARD, DATA CARD,  ARTICLE CARD STYLES END */

.tablist {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tablist .tabitem {
  padding: 6px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tablist .tabicon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.tabicon .tabimg {
  width: 100%;
  height: 100%;
}

.tablist .tabcontent {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* forms */

form {
  width: 500px;
}

fieldset {
  border: thin solid lightgrey;
  border-radius: 0;
  padding-top: 24px;
}

fieldset legend {
  font-weight: bolder;
}

fieldset label {
  display: inline-block;
  padding: 4px;
  min-width: 150px;
  cursor: pointer;
  text-align: left;
}

fieldset input,
fieldset select {
  display: inline-block;
  width: 314px;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 0;
  outline: none;
  border: thin solid lightgrey;
  text-align: left;
  font: inherit;
}

select {
  display: inline-block;
  padding: 8px;
  border-radius: 0;
  outline: none;
  border: thin solid lightgrey;
  text-align: left;
  font: inherit;
}

fieldset select {
  text-transform: capitalize;
}

fieldset input[type="date"] {
  text-transform: uppercase;
}

fieldset input:focus,
fieldset select:focus {
  outline: none;
}

fieldset input:focus {
  border-color: black;
}

fieldset button {
  border: none;
  float: right;
  width: 314px;
}

/* forms ends*/

/* GENERIC PAGES */

.error {
  display: block;
  font-size: smaller;
  font-family: monospace;
  color: red;
  width: 314px;
  float: right;
  margin-bottom: 4px;
}

/* GENERIC PAGES END*/

/* FLEX COLUMN */

.flexbody {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.flexbody>header,
.flexbody>footer {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}

.flexbody>footer {
  background-color: rgba(211, 211, 211, 0.692);
}

.flexbody>main {
  flex: 2;
}

.flexbody .centerized {
  display: grid;
  place-items: center;
}

/* FLEX COLUMN */

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexcolumn>header,
.flexcolumn>footer {
  display: flex;
  justify-content: space-between;
}

.flexcolumn main {
  flex: 2;
}

small {
  font-size: smaller;
}

.gridlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  /* grid-column: 200px; */
}

.gridlist .gridcell {
  background-color: white;
  border: thin solid rgba(0, 0, 0, 0.384);
  max-height: 300px;
}

.gridcell .figure {
  width: 100%;
  height: 150px;
}

.gridcell .headline {
  font-size: larger;
  margin: 8px;
}

.gridcell .infoline {
  display: block;
  margin-bottom: 4px;
  color: rgb(51, 51, 51);
}

.center-align {
  text-align: center;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

/* NAV: ROW, TABS AND MORE STYLES HERE */
nav.tabs {
  display: flex;
  align-items: center;
  background-color: #3838380c;
  border-top: thin solid #d8d6d6;
}

nav.tabs .title {
  font-weight: bolder;
  font-size: larger;
  padding: 12px;
}

nav.tabs .tabitem {
  padding: 12px 24px;
  margin-right: 1px;
  color: #00172c;
  border-bottom: thin solid transparent;
}

nav.tabs .tabitem:hover {
  background-color: #d8d6d6;
}

nav.tabs .tabitem.active {
  background-color: #d8d6d6;
  border-color: #00172c;
}

/* NAV: ROW, TABS AND MORE STYLES END */

.padding {
  padding: 12px;
}