
fieldset {
    border: 2px solid var(--gray);
    border-radius: var(--radius-md);
}

input[type="date"] {
    text-transform: uppercase;
}

fieldset.field {
    padding: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
}

fieldset.field input, fieldset select {
    padding: var(--spacing-xs);
    padding-top: unset;
    border-radius: var(--radius-md);
    font-size: var(--font-lg);
    width: 100%;
    background-color: transparent;
}

fieldset select {
    padding-top: var(--spacing-xs);
    border: unset;
}

fieldset.row {
    display: flex;
    gap: var(--spacing-sm);
    border-color: transparent;
}

fieldset.row input, fieldset.row select {
    padding: var(--spacing-xs);
    border: 2px solid var(--gray);
}