label {
    display: flex;
    margin-top: 6px;
}

input,
select {
    display: block;
    width: 100%;
}

form {
    margin: auto;
    max-width: 378px;
}

input[type="radio"] {
    width: unset;
    margin-right: 12px;
}