@import url("./root.css");
@import url("./reset.css");
@import url("./text.css");
@import url("./form.css");
@import url("./generic.css");
@import url("./navigation.css");

.row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
}
