.bold {
    font-weight: bolder;
}

.large, .larger, .huge {
    font-size: 1.5rem;
    unicode-bidi: isolate;
    display: block;
    margin: 0.83em 0px;
    font-weight: bold;
}

.huge {
    font-size: 3rem;
}

.large {
    font-size: 1.3rem;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.link {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
}

.muted {
    color: var(--shadow);
}

.success {
    color: var(--green);
}

.warning {
    color: var(--yellow);
}
 .error {
    color: var(--red);
}