<nav class="padding row between border-bottom">
    <span class="max">
        <h4 class="large no-margin">Block A General Elections</h4>
    </span>
    <span class="row tablist">
        <a href="/elections/12345/parties" class="tabitem ">Parties</a>
        <a href="/elections/12345/candidates" class="tabitem active">Candidates</a>
        <a href="/elections/12345/voters" class="tabitem">Voters</a>
    </span>
</nav>