<header class="padding  row between">
    <section class="">
        <span class="row">
            <label for="elections" class="label">Filter By Election:</label>
            <select name="elections" id="elections" class="input">
                <option value="">Block A General Elections</option>
                <option value="">Block B General Elections</option>
                <option value="">Block C General Elections</option>
            </select>
        </span>
    </section>
    <section class="">
        <a href="/parties/registration" class="minibtn">&plus; New Party</a>
    </section>
</header>