<nav class="navigation border-bottom">
    <a href="/dashboard" class="logo">Elections App</a>
    <span>
        <img src="/images/<%= data.user.photo %>" alt="" class="avatar" title="<%= data.user.first_name %>">
    </span>
</nav>