<section class="pane border-right full menu padding">
    <a href="/dashboard" class="item">Dashboard</a>
    <a href="/voters" class="item">Voters</a>
    <a href="/elections" class="item">Elections</a>
    <a href="/candidates" class="item">Candidates</a>
    <a href="/users" class="item">Users</a>
    <a href="/settings" class="item move-down">Settings</a>
</section>