<section class="pane border-right full menu padding">
    <% ["dashboard","elections","voters","parties","candidates","votes"].forEach(item => { %>
        <a href="/<%= item %>" class="item"><%= item %></a>
    <% }); %>

    <a href="/settings" class="item move-down">Settings</a>
</section>