<nav class="tabs">
    <span class="title max">Block A General Elections</span>
    <a href="/elections/12345/parties" class="tabitem">Parties</a>
    <a href="/elections/12345/candidates" class="tabitem">Candidates</a>
    <a href="/elections/12345/voters" class="tabitem">Voters</a>
</nav>