<header class="header toolbar row align sticky">
    <section class="max">
        <label for="elections">Filter By:</label>
        <select name="elections" id="elections">
            <option value="">Block A General Elections</option>
            <option value="">Block B General Elections</option>
            <option value="">Block C General Elections</option>
        </select>
    </section>
    <section class="">
        <a href="elections/create" class="iconbutton">
            <i class="icon">&plus;</i>
            <span class="text">New Election</span>
        </a>
    </section>
</header>